# Flask built-in environment variables
FLASK_ENV=development
SERVER_NAME=0.0.0.0
FLASK_APP=run.py
FLASK_DEBUG=1

# User define environmnet variables
FLASK_APP_ENV=dev
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=test
DATABASE_PASSWORD=test
DATABASE_NAME=test

# Sentry DSN (should not set in local development)
SENTRY_DSN=https://f8066db528df41cd92170dc04fcb1f55@sentry.io/1488966